.home-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.home-center {
    min-height: var(--page-height-with-navbar);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--light-brown);
}

.home-center::-webkit-scrollbar {
    display: none;
}

.home-center-heading {
    display: flex;
    justify-content: center;
    color: var(--navyblue);
    font-size: 8vmin;
    padding: 1em;
    font-weight: 600;
}