.messages-container {
    display: flex;
    flex-grow: 1;
}

.contacts-container {
    height: var(--page-height-with-navbar);
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--kinda-white);
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
    border-right: 2px solid var(--navyblue);
}

.conversation-container {
    height: var(--page-height-with-navbar);
    width: 100%;
    background-color: var(--light-brown);
}