.background {
    display: flex;
}

.form-container {
    margin-top: 5vh;
    width: 70vw;
    padding: 10px;
}

.screen {
    background: var(--kinda-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    border-radius: 10px;
    padding: 1em;
}

.screen-body {
    display: flex;
}

.screen-body-item {
    /* border: 1px solid black; */
    padding: 1em;
    width: 35vw;
}

.screen-body-item.left {
    display: flex;
    flex-direction: column;
}

.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--navyblue);
    font-size: 7vmin;
    padding: 1em 0 0.1em 0.5em;
    font-weight: 600;
}

.app-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em 0 1em;
}

.app-form-group {
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(154, 154, 154);
}

.app-form-group.message {
    content: " ";
    margin-top: 20px;
}

.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    color: rgb(36, 36, 36);
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.app-form-control::placeholder {
    color: #666;
}

.app-form-group:focus-within {
    border-bottom-color: rgb(36, 36, 36);
    transform: scale(1.05);
}

.app-form-group-button {
    display: flex;
    justify-content: flex-end;
}

.app-form-button {
    min-width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 2em 0em 2em;
    height: 3em;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-weight: 550;
    color: black;
    background-color: inherit;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.app-form-button:hover {
    color: white;
    background-color: var(--brown);
}

#input {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#input>label {
    text-transform: uppercase;
    color: rgba(102, 102, 102, 0.647);
    font-size: 14px;
}