.container {
    width: 100%;
    height: var(--page-height-with-navbar);
}

.admin-container {
    display: flex;
    height: 100%;
}

.menu-container {
    width: 400px;
    height: 100%;
    margin-bottom: 50px;
    min-height: 100%;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px, rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background-color: var(--kinda-white);
}

.users-container {
    width: 100%;
    margin-bottom: 0px;
    padding-bottom: 70px;
    overflow: auto;
    background-color: var(--light-brown);
}

.admin-greeting {
    display: block;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 30px;
}

.table-container {
    margin: 30px auto;
    width: 90%;
    background-color: var(--kinda-white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px, rgba(0, 0, 0, 0.3) 0px 5px 10px;
    border-radius: 10px;
    overflow-x: scroll !important;
}

.users-table {
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0 auto;
    overflow: auto;
}

.users-table thead tr {
    background-color: var(--navyblue);
    color: var(--kinda-white);
    width: 100%;
}

.users-table th,
.users-table td {
    padding: 12px;
}

.users-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.users-table tbody tr:last-of-type {
    border-bottom: 2px solid #2b2b2b;
}

.checkbox-container {
    vertical-align: middle !important;
}

.delete-button {
    background-color: #fff;
    color: var(--navyblue);
    font-weight: bold;
    font-family: Georgia;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    border-color: var(--navyblue);
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.delete-button:hover {
    border-color: var(--navyblue);
    background-color: var(--navyblue);
    color: white;
    transition: 0.4s;
}

.admin-links {
    text-align: center;
    justify-content: center;
    margin-top: 40px;
}

.admin-links>p {
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em 0.5em 0;
    font-size: 0.9em;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 10px;
    border-radius: 5px;
}

.admin-links>p:hover {
    cursor: pointer;
    background-color: var(--hover-background);
    /* transform: scale(1.05); */
}

.profile-icon {
    font-size: 17px;
    padding: 0 1em;
}

.site-info {
    margin-top: 50px;
    font-family: sans-serif;
    text-align: center;
}

.site-info-header {
    text-align: center;
    justify-content: center;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}

.site-info-header:before {
    content: "";
    display: block;
    background: #000;
    width: 120px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 45%;
    z-index: -2;
}

.site-info-header:after {
    content: "";
    display: block;
    background: #000;
    width: 120px;
    height: 2px;
    position: absolute;
    right: 0;
    top: 45%;
    z-index: -2;
}

.header-bg {
    background: var(--kinda-white);
    padding-left: 8px;
    padding-right: 8px;
}

.site-info-subheader {
    margin-top: 10px;
    font-family: arial;
    text-align: center;
    font-weight: 550;
    font-size: 15px;
}

.site-info-users-header {
    margin-top: 50px;
    font-family: arial;
    text-align: center;
    font-weight: 550;
    font-size: 17px;
    margin-bottom: 25px;
}

.site-info-posts-header {
    margin-top: 40px;
    font-family: arial;
    text-align: center;
    font-weight: 550;
    font-size: 17px;
    margin-bottom: 25px;
}

.site-info-users-icon {
    font-size: 25px;
    margin-right: 20px;
}

.site-info-posts-icon {
    font-size: 30px;
    margin-right: 20px;
}

#post-table-delete-icon,
#user-table-delete-icon {
    color: var(--navyblue);
    cursor: pointer;
    font-size: var(--icon-size);
    margin-right: 10px;
    /* margin-top: 5px; */
    padding: 10px;
    border-radius: 10%;
    transition: all 0.4s ease;
}

#post-table-delete-icon:hover,
#user-table-delete-icon:hover {
    /* transform: scale(1.2); */
    background-color: rgb(207, 207, 207);
}