* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 3em;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid black;
    padding: 0.2em;
}

.left,
.center {
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
    gap: 0.5em;
}

.left .button,
.center .button {
    min-width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0em 2em 0em 2em;
    height: 100%;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    font-weight: 550;
    color: black;
    background-color: white;
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.left .button:hover,
.center .button:hover {
    background-color: darkcyan;
    color: white;
}